<!doctype html>
<!--
	Solution by GetTemplates.co
	URL: https://gettemplates.co
-->
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- custom CSS -->

    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>

    <!-- awesone fonts css-->
    <link rel="stylesheet" href="/static/css/font-awesome.css">


    <title>Federated Cox Model</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>

        function high_dimensional_check(){
        if (document.getElementById('hg_yes').checked){
            if (document.getElementById('elastic_net').checked){
                document.getElementById('ifElastic').style.visibility = "visible";
            }
            document.getElementById('ifYes').style.visibility = "visible";
        } else {
            document.getElementById('ifYes').style.visibility = "hidden";
            document.getElementById('ifElastic').style.visibility = "hidden";
            }
        }


        function elastic_net_check(){
        if (document.getElementById('elastic_net').checked){
            document.getElementById('ifElastic').style.visibility = "visible";
        } else document.getElementById('ifElastic').style.visibility = "hidden";
        }
    </script>

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container"><a class="navbar-brand">Federated Cox Model</a>
        <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#howto">How To</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> Federated <span>Privacy-Preserving</span> Cox Proportional Hazard Model</h1>
                <p> Before executing the Cox model, the dataset needs to be uploaded and further parameter initialized. </p>
            </div>

            <div class="col-md-6">
                <div class="card"><img class="card-img-top img-fluid" src="/static/images/model.png" style="margin-left:100px;" alt=""></div>
            </div>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" style="margin-top:30px;">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<div class="container-fluid gtco-feature" id="setup">
    <form action="run" method="post" enctype=multipart/form-data>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="cover">
                        <div class="card">
                            <svg
                                    class="back-bg"
                                    width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                                <defs>
                                    <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                        <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                        <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                    </linearGradient>
                                </defs>
                                <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                                      d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z"/>
                            </svg>
                            <!-- *************-->

                            <svg width="100%" viewBox="-20 -20 700 500">
                                <clipPath id="clip-path">
                                    <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                                </clipPath>
                                <!-- xlink:href for modern browsers, src for IE8- -->
                                <image clip-path="url(#clip-path)" href="../static/images/setup.png" height="350" class="svg__image" width="70%"></image>
                            </svg>
                        </div>

                    </div>
                    <p> How to run the federated Cox model as a master. </p>
                    <a href="#howto">How To <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                    <p style="margin-top:50px"> After selecting all parameters, the federated Cox model can be run.</p>
                    <a><input value="Run federated Cox model" type="submit" class="astext"><i class="fa fa-angle-right" aria-hidden="true"></i></a>

                </div>
                <div class="col-md-5">
                    <h2><u> Master Setup:</u></h2>
                    <footer class="container-fluid" id="gtco-footer">

                        <h4 style="margin-top:20px">1) Upload Data </h4>
                            <input type="file" name="file" class="form-control-file input-group-prepend" id="file_input">


                        <h4 style="margin-top:20px">2) File Type </h4>
                            <label for="csv_file">CSV File</label>
                            <input type="radio" name="file_type" id="csv_file" value="csv"checked>
                            <label for="tsv_file">TSV File</label>
                            <input type="radio" name="file_type" id="tsv_file" value="tsv">


                        <h4 style="margin-top:20px">3) Duration and Event Columns</h4>
                            <label for="duration_col">Duration Column:</label>
                            <input type="text" name="duration_col" id="duration_col">
                            <label for="event_col">Event Column:</label>
                            <input type="text" name="event_col" id="event_col">

                        <h4 style="margin-top:20px">4) Maximum Number of Iterations and Convergence Criteria</h4>
                            <label for="max_steps">Max_steps:</label>
                            <input type="text" name="max_steps" id="max_steps" value="500">
                            <label for="precision"> Convergence:</label>
                            <input type="text" name="precision" id="precision" value="1e-07">

                        <h4 style="margin-top:20px">5) Intersection of Covariates of Clients</h4>
                            <label for="intersect_yes">Yes</label>
                            <input type="radio" name="intersection" id="intersect_yes" value="intersect_yes">
                            <label for="intersect_no">No</label>
                            <input type="radio" name="intersection" id="intersect_no" value="intersect_no" checked>

                        <h4 style="margin-top:20px">6) Penalized Regression</h4>
                            <label>Yes</label><input type="radio" onclick="javascript:high_dimensional_check();" name="hg_radio" id="hg_yes" value="yes">
                            <label>No</label><input type="radio" onclick="javascript:high_dimensional_check();" name="hg_radio" id="hg_no" value="no" checked>


                        <div id="ifYes" style="visibility:hidden">
                            <h4 style="margin-top:20px">7) L1, L2 or Elastic Net Penalized Regression</h4>
                            <div>
                                <label for="lasso">Lasso Regression</label>
                                <input type="radio" name="penalty" id="lasso" value="lasso" onclick="javascript:elastic_net_check();" checked>
                                <label for="ridge">Ridge Regression</label>
                                <input type="radio" name="penalty" id="ridge" value="ridge" onclick="javascript:elastic_net_check();">
                                <label for="elastic_net">Elastic Net Regression</label>
                                <input type="radio" name="penalty" id="elastic_net" value="elastic_net" onclick="javascript:elastic_net_check();">
                            </div>
                            <h4 style="margin-top:20px">8) Tuning Parameter: </h4>
                            <div>
                                <label for="penalization">Penalizer:</label>
                                <input type="text" name="penalization" id="penalization">
                            </div>
                            <div id="ifElastic" style="visibility:hidden">
                            <label for="l1_ratio">L1_ratio:</label>
                            <input type="text" name="l1_ratio" id="l1_ratio">
                        </div>
                        </div>


                    </footer>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid gtco-features" id="howto">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2> How to run the<br/>
                    federated Cox model app </h2>
                <p> Before running the federated Cox model, some parameter have to be specified. Here is a brief explanation
                    of how to set the different necessary parameter. </p>
                <a href="#setup">Back to Setup <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            <div class="col-lg-8">
                <svg id="bg-services"
                     width="100%"
                     viewBox="0 0 1000 800">
                    <defs>
                        <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                            <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                            <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                        </linearGradient>
                    </defs>
                    <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                          d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                </svg>
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3 class="card-title">Duration and Event Column</h3>
                                <p class="card-text">Select the header of the duration and event column in your
                                    dataset.</p>
                            </div>
                        </div>

                        <div class="card text-center">
                            <div class="card-body">
                                <h3 class="card-title">Intersection</h3>
                                <p class="card-text"> If the Cox PH model should be strictly performed on all covariates,
                                    set intersection to No. If some clients do not have all covariates and the Cox model should be performed
                                    on the available covariates (intersection of all clients), set intersection to Yes. </p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3 class="card-title">Maximum Number of Iterations and Convergence Criteria</h3>
                                <p class="card-text">Select the maximum number of iterations you want to proceed and the
                                    convergence criteria for the model parameter estimation step.</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h3 class="card-title">Penalized Regression</h3>
                                <p class="card-text"> Select lasso, ridge or elastic net regression. The penalization term
                                    defines the regularization strength. By selecting elastic net
                                    regression, an additional parameter l1_ratio must be specified. The parameter defines
                                    the weighting between the lasso and ridge regression.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
