<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Federated Cox Regression</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        {
        "margin: 20px"
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>

        function high_dimensional_check(){
        if (document.getElementById('hg_yes').checked){
            if (document.getElementById('elastic_net').checked){
                document.getElementById('ifElastic').style.visibility = "visible";
            }
            document.getElementById('ifYes').style.visibility = "visible";
        } else {
            document.getElementById('ifYes').style.visibility = "hidden";
            document.getElementById('ifElastic').style.visibility = "hidden";
            }
        }


        function elastic_net_check(){
        if (document.getElementById('elastic_net').checked){
            document.getElementById('ifElastic').style.visibility = "visible";
        } else document.getElementById('ifElastic').style.visibility = "hidden";
        }
    </script>
</head>
<body style="margin: 50px">

<div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        <span>{{ message }}</span>
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
</div>

<h1 style="color:#256BEE"><u>Federated Cox Proportional Hazard Model</u></h1>

<h2 style="margin-bottom: 30px">Client</h2>

<form action="run" method="post" enctype=multipart/form-data>

    <div class="form-group" style="width: 50%">


        <h4 style="margin-top:20px">1) Upload Data </h4>
        <input type="file" name="file" class="form-control-file input-group-prepend" id="file_input">


        <h4 style="margin-top:20px">2) File Type </h4>
            <label for="csv_file">CSV File</label>
            <input type="radio" name="file_type" id="csv_file" value="csv"checked>
            <label for="tsv_file">TSV File</label>
            <input type="radio" name="file_type" id="tsv_file" value="tsv">


        <h4 style="margin-top:20px">3) Duration and Event Columns</h4>
            <label for="duration_col">Duration Column:</label>
            <input type="text" name="duration_col" id="duration_col">
            <label for="event_col">Event Column:</label>
            <input type="text" name="event_col" id="event_col">

        <h4 style="margin-top:20px">4) Maximum Number of Iterations and Convergence Criteria</h4>
            <label for="max_steps">Max_steps:</label>
            <input type="text" name="max_steps" id="max_steps" value="500">
            <label for="precision"> Convergence:</label>
            <input type="text" name="precision" id="precision" value="1e-07">

        <h4 style="margin-top:20px">5) Intersection of Covariates of Clients</h4>
            <label for="intersect_yes">Yes</label>
            <input type="radio" name="intersection" id="intersect_yes" value="intersect_yes">
            <label for="intersect_no">No</label>
            <input type="radio" name="intersection" id="intersect_no" value="intersect_no" checked>

        <h4 style="margin-top:20px">6) High-Dimensional Data:</h4>
            <label>Yes</label><input type="radio" onclick="javascript:high_dimensional_check();" name="hg_radio" id="hg_yes" value="yes">
            <label>No</label><input type="radio" onclick="javascript:high_dimensional_check();" name="hg_radio" id="hg_no" value="no" checked>


        <div id="ifYes" style="visibility:hidden">
            <h4 style="margin-top:20px">7) L1, L2 or Elastic Net Penalized Regression</h4>
            <div>
                <label for="lasso">Lasso Regression</label>
                <input type="radio" name="penalty" id="lasso" value="lasso" onclick="javascript:elastic_net_check();" checked>
            </div>
            <div>
                <label for="ridge">Ridge Regression</label>
                <input type="radio" name="penalty" id="ridge" value="ridge" onclick="javascript:elastic_net_check();">
            </div>
            <div>
                <label for="elastic_net">Elastic Net Regression</label>
                <input type="radio" name="penalty" id="elastic_net" value="elastic_net" onclick="javascript:elastic_net_check();">
            </div>
            <h4 style="margin-top:20px">8) Tuning Parameter: </h4>
            <div>
                <label for="penalization">Penalizer:</label>
                <input type="text" name="penalization" id="penalization">
            </div>
            <div id="ifElastic" style="visibility:hidden">
            <label for="l1_ratio">L1_ratio:</label>
            <input type="text" name="l1_ratio" id="l1_ratio">
        </div>
        </div>

        <input value="Run" style="margin: 20px; float: right" type="submit"
               class="btn btn-primary btn-lg">


    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>